.root {
    -fx-base: #242424 ;
    -fx-control-inner-background: derive(-fx-base,20%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background,-10%);
    -fx-accent: #006689;
    -fx-focus-color: #036E83;
    -fx-faint-focus-color: #036E8322;
}

.text-field {
    -fx-prompt-text-fill: lightgray;
    -fx-border-color: #242424;
    -fx-background-color: #242424;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 14;
}

.tree-view {
    -fx-font-size: 14;
}

.text-field .text {
    -fx-text-fill: white;
}

.text-field:empty .text {
    -fx-effect: null ;
}

.label {
    -fx-border-color: #242424;
    -fx-background-color: #242424;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.label > .text {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16;
}
